<ul class="nav">
  <li><%= link_to "Home", root_path  %></li>
  <li><%= link_to "Activities", activities_path  %></li>
</ul>

<ul class="nav nav-pills pull-right">
  <% if user_signed_in? %>
    <li class="dropdown">
      <%= link_to("#", "data-toggle" => "dropdown", "role" => "button", "class" => "dropdown-toggle", "id" => "drop1") do %>
        <%= current_user.email %> 
        <b class="caret"></b>
      <% end %>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
  <% end %>
</ul>
